/* Discount */
.discount {
  height: 300px;
  background-position: center;
  background-size: cover;
}

.discount h1 {
  position: absolute;
  left: 30px;
  top: 20px;
  z-index: 10;
  transform: rotate(-40deg);
}

.discount img {
  position: relative;
  left: 0;
  top: 0;
}
.discount button {
  position: absolute;
  right: 40px;
  bottom: 20px;
  background-color: #ffc900;
  border: 2px solid #ffc900;
  width: 120px;
  height: 45px;
  border-radius: 20px;
}

.discount a {
  color: white;
}

.discount button:hover {
  background-color: #ffa900;
  border: 2px solid #ffa900;
}

.discount a.detail_pro{
  background-color:#333;
  border:none;
  border-radius:0;
  position:absolute;
  bottom:-15px;
  left:40px;
  border-radius: 5px;
  display: none;
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.discount a.detail_pro:hover{
  color: #f2f2f2
}

.discount a.detail_pro::after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 18px solid #333;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  position: absolute;
  top: -40%;
  left: 30%;
}
/* end Discount */

/* Top Items */

.list {
  width: 100%;
  margin-top: 70px;
}

.top-items {
  float: left;
}

.top-items .card img {
  height: 200px;
}

.top-items .card {
  margin-bottom: 30px;
}

.top-items .card p {
  margin-top: -10px;
}

.top-items .card .card-body a {
  height: 35px;
  font-size: 15px;
  line-height: 25px;
  background-color: #ffaa00;
  border: 1px solid #ffc900;
  margin-left: 15px;
  transition: 0.3s;
}

.top-items .card .card-body a:hover {
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
/* end Top Items */

/* Free Shipping */
.free-shipping {
  width: 100%;
  margin-top: 70px;
}

.product-free-shipping {
  float: left;
}

.product-free-shipping .card {
  margin-bottom: 20px;
}

.product-free-shipping .card p {
  margin-top: -10px;
}

.product-free-shipping .card img {
  height: 200px;
}

.product-free-shipping .card .card-body a {
  height: 35px;
  font-size: 15px;
  line-height: 25px;
  background-color: #ffaa00;
  border: 1px solid #ffc900;
  margin-left: 15px;
  transition: 0.3s;
}

.product-free-shipping .card .card-body a:hover {
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

/* End Free Shipping */

/* pagination */
#pagination {
  margin: auto;
}

#pagination a{
  color:#009DFF;
}
/* end pagination */

/* Testimonial */
/* end testimonial */
.ilustration {
  width: 100%;
}

.card {
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0px 4px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.go-top{
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 800;
  bottom: 20px;
  right:20px;
  font-size: 30px;
  line-height: 50px;
  background: #00B5FF;
  opacity: .7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.go-top a{
  color:white;
  text-align: center;
}

/* testimonials */
/* #testimonials{
  margin-bottom: -60px;
} */

#testimonials .first img{
  width: 520px;
}

#testimonials .second .card:hover{
  transform: none;
  box-shadow: none;
}
/* #testimonials .second .card:hover h5{
  color:#00B5FF;
} */
#testimonials .second .card {
  background-color: white;
  border: none;
  height: 230px;
  border-radius: 10px;
  padding: 20px;
}

#testimonials .second .card p{
  opacity: .6;
  font-family: sans-serif;
}

#testimonials .second .card h5{
  color:#00B5FF;
}

#testimonials .second .card span{
  color:#ffa900;
  margin-top: -12px;
}

#testimonials .second .card::after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 30px solid white;
  border-right: 35px solid transparent;
  border-left: 35px solid transparent;
  position: absolute;
  top: 226px;
  left: 45%;
}

#testimonials .second img{
  margin-top: 30px;
  border-radius: 50%;
}







@media only screen and (max-width: 996px) {
  #testimonials .first img{
    width: 400px;
  }
  #testimonials .second .card::after{
    left: 45%;
  }

  #testimonials .second .card p{
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  /* Top Items */
  .top-items .card img {
    height: 250px;
  }

  /* End top Items */

  /* Free Shipping */
  .product-free-shipping .card img {
    height: 250px;
  }

  #testimonials .first img{
    width: 380px;
  }

  #testimonials .second .card::after{
    left: 45%;
  }
}



@media only screen and (max-width: 750px) {
    /* Top Items */
    .top-items .card img {
      height: 170px;
    }
  
    /* End top Items */
  
    /* Free Shipping */
    .product-free-shipping .card img {
      height: 170px;
    }
  /* BIG DISCOUNT */
  .discount h3{
    position: absolute;
    top: -40px;
    right: 40px;
    font-size:25px;
  }

    /* discount */
    .discount {
      height: 200px;
      background-position: center;
      background-size: cover;
      margin-bottom: 10px;
    }
    /* end discount */
  
    /* Top Items */
    .top-product {
      height: 180px;
      margin-bottom: 20px;
    }
    /* end Items */
  
    /* END BIG DISCOUNT */
      #testimonials .first img{
        width: 320px;
      }
    #testimonials .second .card::after{
      left: 45%;
    }
}


@media only screen and (max-width: 551px) {
  #testimonials .first img{
    width: 250px;
  }

  #testimonials .second .card::after{
    left: 45%;
  }

}

@media only screen and (max-width: 400px) {
  /* Top Items */
  .top-items .card img {
    height: 100px;
  }

  .top-items .card a {
    bottom: 10px;
  }

  /* End top Items */

  /* Free Shipping */
  .product-free-shipping .card img {
    height: 100px;
  }

  .product-free-shipping .card .card-body a {
    bottom: 10px;
    font-size:11px;
  }
  /* end Free Shipping */
  .card-body h5{
    font-size:12px;
  }
  .card-body p{
    font-size:11px;
  }

  /* BIG DISCOUNT */
  .discount h3{
    position: absolute;
    top: -40px;
    right: 40px;
    font-size:20px;
  }

  #testimonials .first img{
    width: 200px;
  }

  #testimonials .first p{
    font-size: 15px;
  }
  #testimonials .second .card::after{
    left: 40%;
  }

  #testimonials .second .card p{
    font-size: 13px;
  }
  /* END BIG DISCOUNT */
}
