.login {
  padding: 20px;
  margin-top: 50px;
}

.login .btn {
  width: 100%;
  background-color: #ffa900;
  color: white;
}

.blackscreen {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 500;
  animation: screen 1s;
}

#loader {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 5px solid transparent;
  border-top-color: #ffa900;
  border-bottom-color: #ffa900;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2000;
  animation: loading 1s infinite;
  transition: 1s;
}

.loading p {
  position: fixed;
  top: 58%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2000;
  z-index: 1000;
  color: #ffa900;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  animation: txtload 2s infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes txtload {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes screen {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
