a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
  color: #ffa900;
}

.fa-shopping-cart {
  opacity: 0;
}
.navbar {
  width: 100%;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
}

.navbar .navbar-brand {
  color: #ffa900;
}
.navbar a:nth-child(2) {
  opacity: 0;
}

.dua {
  opacity: 1;
}

#search {
  width: 300px;
}

#btn-search {
  margin-left: -50px;
}

.navbar-nav {
  margin-left: 50%;
}

.navbar-nav li {
  margin-left: 10px;
}

/* SIgn */
.sign {
  width: 80px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #ffa900;
  color: #ffa900;
  padding: 4px 8px;
  text-align: center;
  float: left;
}

.sign a {
  color: #ffa900;
}

.sign:hover {
  background-color: #ffa900;
  border: 1px solid #ffa900;
}

.sign:hover a {
  color: white;
}

/* User Login */
.pp img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-nav .nav-item:nth-child(2) ul {
  display: none;
  background-color: white;
  padding-right: 20px;
}
.navbar-nav .nav-item:nth-child(2) ul li {
  list-style-type: none;
  margin-left: -30px;
}

.navbar-nav .nav-item:nth-child(2),
.navbar-nav .nav-item:nth-child(3) {
  line-height: 40px;
}

#login_user:hover {
  cursor: pointer;
}

/* Menu Dropdown */
.menu {
  width: 100%;
  margin-top: 60px;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
  .navbar-nav {
    margin-left: 0;
  }

  .navbar-nav li {
    margin-left: 0;
  }

  .fa-shopping-cart {
    opacity: 1;
  }
  .navbar a:nth-child(2) {
    opacity: 1;
  }

  .dua {
    opacity: 0;
  }

  .nav-item:nth-child(2) span {
    opacity: 0;
  }

  .navbar-nav .nav-item:nth-child(3) {
    opacity: 0;
  }
}
